/.DS_Store
/_book/
/_bookdown_files/
/_main[.]rds
/figure-04-workflow-image-analysis[.]aux
/figure-04-workflow-image-analysis[.]log
/figure-04-workflow-image-analysis[.]pdf
/figure-04-workflow-image-analysis[.]png
