/.DS_Store
/_book/
/_bookdown_files/
/_main[.]rds
/classif-runlist-metadata.csv
/classif.runlist
/figure-04-workflow-image-analysis[.]aux
/figure-04-workflow-image-analysis[.]fdb_latexmk
/figure-04-workflow-image-analysis[.]fls
/figure-04-workflow-image-analysis[.]log
/figure-04-workflow-image-analysis[.]pdf
/figure-04-workflow-image-analysis[.]png
/ot-*.runlist
